[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11.28"
pillow = "*"
django-registration = "==2.4.1"
boostrap4 = "*"
django-crispy-forms = "*"
whitenoise = "*"
gunicorn = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.7"
