{% extends 'instagram/base.html' %}

{% block content %}
<div class="container">
    <!--user profile info -->
    <div class="row ">
            <div class="col-sm-6 col-md-4">
            
                    <h5 class="user">{{profile.user.username}}</h5>
                    <img style="width:40%; border-radius:99%;" src=" {{profile.profile_image.url}}">
                </div>
        
        <div class="col-sm-6 col-md-6">
            <hr>
            {{profile.bio}}

        </div>

        <!-- Edit Profile section -->
        <div class="col-sm-6 col-md-2">
            <a href="" class="btn btn-outline-info btn-sm">Edit Profile</a>
        </div>
    </div>
    <h3 class="text-center">My Photos</h3>
    <hr>
    <div class="row mt-2">
        {% for image in images %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="{{image.image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}